<a href="https://colab.research.google.com/github/ChoiJMS2/Colab_Study/blob/main/20230412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터타입
- int, str, float, bool이 있음

## int형
 - 나이를 입력하고 출력

In [2]:
num_int = 36
print (num_int)
print(type(num_int))

36
<class 'int'>

## float 형
 - 키 입력

In [3]:
my_height = 185.6
print(my_height)
print(type(my_height))

185.6
<class 'float'>

##str형
-임의의 닉네임을 입력하고 출력

In [4]:
my_name="James"
print(my_name)
print(type(my_name))

James
<class 'str'>

##bool 형
- 논리 / 참 or 거짓

In [8]:
x = True
y = False
z = x == y

print(type(x))
print(z)
print(type(z))

<class 'bool'>
False
<class 'bool'>

# 사칙연산

In [10]:
x = 6
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)  # 나머지
print(x // y) # 몫
print(x ** y) # 제곱

9
3
18
2.0
0
2
216

In [11]:
x = 10
y = 11

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x <= y)
print(x >= y)

False
True
False
True
True
False

# 형변환
- 데이터 형태 변환

In [17]:
a = int(input("숫자를 입력해주세요..."))  # class 변경 (str > int)
print(a)
print(type(a))

숫자를 입력해주세요...123
123
<class 'int'>

# String
- String 연산자

In [19]:
a = "소년은"
b = "봄을"
c = "좋아합니다.!"

letter = a + " " + b + " " + c
print(a+b+c)
print(letter)

소년은봄을좋아합니다.!
소년은 봄을 좋아합니다.!

 - String 연산자 (*)

In [21]:
x = "봄"
lyrics = x*3 + " " + "봄이~ 왔어요~"
print(lyrics)

봄봄봄 봄이~ 왔어요~

# 인덱싱 & 슬라이싱
- 인덱싱

In [27]:
x = "Hello World!!"

# 첫번째 문제 : Hello의 알파벳 o 추출
print(x[4])

# 두번째 문제 : World의 알파벳 l 추출
print(x[9])

o
l

-슬라이싱
 [시작위치:종료위치:건너뛸칸수]

In [35]:
x = "Hello World!!"

# 세번째 문제 : World 글자 출력
print(x[6:11:1])

print(x[:])

World
Hello World!!

In [41]:
x = "Hello World!!"

# 바꾸고 싶은것, Aello Wolrd!!

y = x[1:]
z = "A" + y
print(z)

Aello World!!

# 문자열 메서드
 - 점프투 파이썬 : http://wikidocs.net/13

In [42]:
sampleText = "hello, kaggle"
upper_text = sampleText.upper()
print(upper_text)

In [43]:
sampleNum = 123
upper_text = sampleNum.upper()
print(upper_text)

AttributeError: ignored

In [45]:
sampleText = "hello, kaggle"
new_text = sampleText.replace("hello", "welcome")
print(new_text)

welcome, kaggle

- str.replace(old, new[, count])
  + Return a copy of the string with all occurrences of substring old replaced by new. If the optional argument count is given, only the first count occurrences are replaced.

# List 리스트
- 시퀀스 데이터예요! 반복문을 쓸 수 있어요!!

In [2]:
from collections.abc import Sequence
my_num    = 100
my_list   = [1, 2, 3]
my_string = "hello"

isSeq1 = isinstance(my_num, Sequence)
print(isSeq1)

isSeq2 = isinstance(my_list, Sequence)
print(isSeq2)

isSeq3 = isinstance(my_string, Sequence)
print(isSeq3)

False
True
True

## 인덱싱 & 슬라이싱
- 문자열 했던 것과 방식 동일

In [8]:
a = ["가", "나", "다"]
print(a[0])
print(a[1])
print(a[2])
print(a[-1])
print(a[-2])
print(a[:])
print(a[1:3])

가
나
다
다
나
['가', '나', '다']
['나', '다']

In [9]:
a = [1, 2, ['Apple', '사과', 'Banana', '키위'], 4, 5, 6]
print(a)

[1, 2, ['Apple', '사과', 'Banana', '키위'], 4, 5, 6]

In [23]:
# 문제 : Banana 글자에서 마지막 알파벳 a (글자의 마지막) 추출

b = a[2]
c = b[2]
print(c[5])

d = a[2][2]
print(d[5])

print(a[2][2][5])
# 문제2 : 사과, Banana, 키위를 슬라이싱 해서 추출

b=a[2]
print(b[1:5])
print(a[2][1:5])

a
a
a
['사과', 'Banana', '키위']
['사과', 'Banana', '키위']

## 리스트 메서드 종류
- Lists may be constructed in several ways:
  + Using a pair of square brackets to denote the empty list: []
  + Using square brackets, separating items with commas: [a], [a, b, c]
  + Using a list comprehension: [x for x in iterable]
  + Using the type constructor: list() or list(iterable)

- https://docs.python.org/3.11/tutorial/datastructures.html

### append()

In [25]:
x = ["가", "나"]
x.append("다")
print(x)

['가', '나', '다']

In [26]:
x = ["가", "나"]
texts = ["다", "라", "마"]
x.append(texts)
print(x)

['가', '나', ['다', '라', '마']]

### insert()
 - 인덱스 번호를 지정한 후, 새로운 값 추가

In [29]:
x = ["가", "나", "라"]
x.insert(2, "다")
print(x)


y = ["아", "유"]
y.insert(1, "이")
print(y)

['가', '나', '다', '라']
['아', '이', '유']

## 리스트 값 변경

In [30]:
x = ["가", "나", "C", "라"]
x[2] = "다"
print(x)

['가', '나', '다', '라']

## 리스트 값 삭제

In [33]:
dates = [412, 510, 531, 1010]

# 412 제거
dates.remove(412)

print(dates)

#del

del dates[0]
dates

[510, 531, 1010]

[531, 1010]

# 튜플
 - 리스트와 비슷
 - 차이점도 존재

In [34]:
my_tuple = ("Hi", 1, 2, 3)
print(my_tuple)
print(type(my_tuple))

('Hi', 1, 2, 3)
<class 'tuple'>

In [35]:
my_nested_tuple = ("Hi", [1, 2, 3], (3.11, 3.23, 21.1))
print(my_nested_tuple)
print(type(my_nested_tuple))

('Hi', [1, 2, 3], (3.11, 3.23, 21.1))
<class 'tuple'>

### 리스트와 튜플의 공통점
 - 인덱싱 & 슬라이싱은 동일함

In [37]:
a = (1, 2, ('Apple', '사과', 'Banana', '키위'), 4, 5, 6)
print(a)
print(type(a))

(1, 2, ('Apple', '사과', 'Banana', '키위'), 4, 5, 6)
<class 'tuple'>

In [39]:
print(a[2][2][-1])

a

# 리스트의 값 수정

In [41]:
# 리스트의 값 수정
x = ["가", "나", "C", "라"]
x[2] = "다"
print(x)

y = ("가", "나", "C", "라")
y[2] = "다"
print(y)

['가', '나', '다', '라']

TypeError: ignored

In [43]:
dates = (412, 510, 531, 1010)

# 412 제거
dates.remove(412)

print(dates)

#del

del dates[0]
dates

AttributeError: ignored

In [45]:
my_tuple = ("가", "가", "나", "나", "나", "다", "라")
print(my_tuple.count("나"))
print(my_tuple.index("나"))

3
2

# 딕셔너리

In [71]:
my_dic = {
    'name'      : 'James',
    'age'       : 36,
    'job'       : '학생, 취준생',
    'shopping'  : [1, 2, 3]
}

# 문제 : 태어난 도시를 추가하세요. key-value 값 알아서 작성

my_dic['city'] = 'Seoul'

# 값 수정
my_dic['shopping']  = '가방'

# 가방 제거

del my_dic['shopping']

my_dic

{'name': 'James', 'age': 36, 'job': '학생, 취준생', 'city': 'Seoul'}

In [72]:
my_dic.keys()

dict_keys(['name', 'age', 'job', 'city'])

In [73]:
my_dic.values()

dict_values(['James', 36, '학생, 취준생', 'Seoul'])

In [74]:
my_dic.items()

dict_items([('name', 'James'), ('age', 36), ('job', '학생, 취준생'), ('city', 'Seoul')])

In [77]:
for i in my_dic:
  # 인덱스 번호로 할당이 되거나 그럼게 아님 / key 값!
  print(my_dic[i])

James
36
학생, 취준생
Seoul

# 조건문
- if-else, if문 작성 시 , 조건 >> True

In [79]:
a = 30
b = 31
if a >= b:
  print("a가 크다")
else:
  print("b가 크다")

b가 크다

In [82]:
a = 30
b = 31
if a > b:
  print("a가 b보다 크다")
elif a == b:
  print("a와 b가 같다")
else:
  print("a가 b보다 작다")

a가 b보다 작다

In [88]:
# input() 임의의 숫자만 입력 1 ~ 100
# 90점 이상 -- A
# 80점 이상 -- B
# 70점 이상 -- C
# 60점 이상 -- D
# 나머지 -- F


score = int(input("점수를 입력하세요"))

if score > 100:
  print("오류입니다. 다시 입력하세요.")
elif score >= 90:
  print("A 입니다.")
elif score >= 80:
  print("B 입니다.")
elif score >= 70:
  print("C 입니다.")
elif score >= 60:
  print("D 입니다.")
else:
  print("F 입니다.(과락)")

점수를 입력하세요102

오류입니다. 다시 입력하세요.